<h1>Listing historical_locations</h1>

<table id="historical_locations-table">
  <tr>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Historical location</a>
