<h1>New historical_location</h1>

<form id="new-historical_location" name="historical_location">
  <div class="field">
    <label for="title"> title:</label>
    <input type="text" name="title" id="title" value="<%= title %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Historical location" />
  </div>

</form>

<a href="#/index">Back</a>
