<div class="panel-heading">
  <div class="panel-title">
    <a class="accordion-toggle" data-toggle="collapse" data-parent="#layers-accordion" href="#layers-collapse-<%= id %>">
      <%= title %>
  </div>
</div>

<div id="layers-collapse-<%= id %>" class="panel-collapse collapse in">
  <div id="layers-panel-body-<%= id %>" class="panel-body">
    <ul class="shapefile-list"></ul>
  </div>
</div>
