<h1>Edit historical_event</h1>

<form id="edit-historical_event" name="historical_event">
  <div class="field">
    <label for="title"> title:</label>
    <input type="text" name="title" id="title" value="<%= title %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Historical event" />
  </div>

</form>

<a href="#/index">Back</a>
