<h1>Listing historical_events</h1>

<table id="historical_events-table">
  <tr>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Historical event</a>