<h1>Edit shapefile</h1>

<form id="edit-shapefile" name="shapefile">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value="<%= name %>" >
  </div>

  <div class="field">
    <label for="description"> description:</label>
    <input type="text" name="description" id="description" value="<%= description %>" >
  </div>

  <div class="field">
    <label for="url"> url:</label>
    <input type="text" name="url" id="url" value="<%= url %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Shapefile" />
  </div>

</form>

<a href="#/index">Back</a>
