<h1>Listing shapefiles</h1>

<table id="shapefiles-table">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Shapefile</a>